@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models


@helper  TopMenu(List<SiteMapNodeModel> nodeList)
    {
var rol = "Administrador";
//var rol = Session["perfil"].ToString();


foreach (SiteMapNodeModel node in nodeList)
{

    if (node.TargetFrame.Contains(rol))
    {

        string url = node.IsClickable ? node.Url : "#";

        if (!node.Children.Any())
        {

                    <li>
                        <a href="@url">
                            <i class="@node.Description"></i>
                            <span class="nav-label">@node.Title</span>
                        </a>
                    </li>
                }
                else
                {

                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="@node.Description"></i>
                            <span class="nav-label">@node.Title </span>
                        </a>@DropDownMenu(node.Children)
                    </li>
                }

if (node != nodeList.Last())
{
                    <li class="divider-vertical"></li>
                }

            }

        }

}

@helper DropDownMenu(SiteMapNodeModelList nodeList)
    {
var rol = "Administrador";
//var rol = Session["perfil"].ToString();
        <ul class="nav nav-second-level collapse" role="menu">
            @foreach (SiteMapNodeModel node in nodeList)
            {
                if (node.TargetFrame.Contains(rol))
                {
                    if (node.Title == "Separator")
                    {
                        <li class="divider"></li>
                        continue;
                    }

                    string url = node.IsClickable ? node.Url : "#";

                    if (!node.Children.Any())
                    {
                        <li><a href="@url">@node.Title</a></li>
                    }
                    else
                    {
                        <li class="dropdown-submenu"><a href="@url">@node.Title</a>@DropDownMenu(node.Children)</li>
                    }

                }

            }
        </ul>
}

@TopMenu(Model.Nodes)