@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models


@helper  TopMenu(List<SiteMapNodeModel> nodeList)
{
    var rol = "Administrador";
    //var rol = Session["perfil"].ToString();


    foreach (SiteMapNodeModel node in nodeList)
    {

        if (node.TargetFrame.Contains(rol))
        {

            string url = node.IsClickable ? node.Url : "#";


            if (!node.Children.Any())
            {

                <li class="nav-item">
                    <a href="@url" class="nav-link">
                        <i class="@node.Description"></i>
                        <span class="nav-label">@node.Title</span>
                    </a>
                </li>
            }
            else
            {
                if (node.IsInCurrentPath)
                {
                    <li class="nav-item menu-is-opening menu-open">
                        <a class="nav nav-link">
                            <i class="@node.Description"></i>
                            <span class="nav-label">@node.Title </span>
                            <i class="right fas fa-angle-left"></i>
                        </a>@DropDownMenu(node.Children)
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav nav-link">
                            <i class="@node.Description"></i>
                            <span class="nav-label">@node.Title </span>
                            <i class="right fas fa-angle-left"></i>
                        </a>@DropDownMenu(node.Children)
                    </li>
                }

            }
        }

        if (node != nodeList.Last())
        {
            <li class="divider-vertical"></li>
        }

    }

}


@helper DropDownMenu(SiteMapNodeModelList nodeList)
{
    var rol = "Administrador";
    //var rol = Session["perfil"].ToString();

    <ul class="nav nav-treeview" style="padding: 0px 0px 0px 15px;">
        @foreach (SiteMapNodeModel node in nodeList)
        {

            if (node.TargetFrame.Contains(rol))
            {
                if (node.Title == "Separator")
                {
                    <li class="divider"></li>
                    continue;
                }

                string url = node.IsClickable ? node.Url : "#";
                if (node.IsCurrentNode)
                {
                    <li class="nav-item"><a class="nav nav-link active" style="width: 219px;" href="@url">@node.Title</a></li>
                }
                else
                {

                    if (!node.Children.Any())
                    {
                        <li class="nav-item"><a class="nav nav-link" style="width: 219px;" href="@url">@node.Title</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav nav-link active" style="width: 219px;" href="@url">@node.Title</a>@DropDownMenu(node.Children)</li>
                    }
                }


            }

        }
    </ul>
}

@TopMenu(Model.Nodes)
