@model IEnumerable<Metalkit.Models.VMSubParametro>
@using Metalkit.Models;

@{
    ViewBag.Title = "Sub Parametros";
    Layout = null;

}
    <input id="tbIdParametro" value="@ViewBag.idParametro" hidden/>
    <table id="grilla_subparametros" class="table table-gral table-sm table-hover table-bordered">
        <thead class="table-head">
            <tr>
                <th class="oculto">id</th>
                <th><input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></th>
                <th>Descripción</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                                <tr>
                                    <td class="oculto">
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @*@Html.CheckBoxFor(modelItem => item.Seleccionado)*@
                                        <input type="checkbox" name="checks[]" id="chk+@item.Id" value="@item.Id" checked="@item.Seleccionado" class="custom-checkbox checkboxes" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Valor)
                                    </td>

                                </tr>
                            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-12 text-right" id="botonesFooter">

            <button type="submit" class="btn btn-success" id="b_grabarSubParametro" onclick="grabarSubParametro()">
                <span class="fa fa-check"></span> Guardar
            </button>
            <a href="#" class="btn btn-default" data-dismiss="modal">
                <i class="fa fa-remove"></i> Cerrar
            </a>
        </div>
    </div>

<script>
    $(".modal-footer").html("");
    $("#botonesFooter").appendTo(".modal-footer");

    $(document).ready(function () {
        $('#checkBoxAll').click(function () {
            if ($(this).is(":checked")) {
                $(".chkCheckBoxId").prop("checked", true)
            }
            else {
                $(".chkCheckBoxId").prop("checked", false)
            }
        });
    });
    $('#myCheckAll').click(function () {
        var chk = $(this).is(':checked');
        var cnt = $('input[type=checkbox]', "#grilla_parametros").length;
        $('input[type=checkbox]', "#grilla_parametros").each(function () {
            if (chk) {
                $(this).attr('checked', 'checked');
            }
            else {
                $(this).removeAttr('checked');
            }
        });



    });

    function grabarSubParametro() {
        //var arr = $('[name="checks[]"]:checked').map(function () {
        //    return this.value;
        //}).get();
       
        var idSubParametro = 0;
        var arrIdSubParametro = [];
        $('.checkboxes:checked').each(
            function () {
                arrIdSubParametro.push($(this).val());
            }
        );
        console.log("aplicando filter")
        console.log(subparametros)

        var listado = subparametros.filter(item => item.IdParametro != $(tbIdParametro).val())
        subparametros = []
        subparametros = listado;
        var descripcion = "";

        console.log(subparametros)
        $("#grilla_subparametros tbody tr").each(function (index) {

            $(this).children("td").each(function (index2) {
                var objSubParametro = {};

                switch (index2) {
                    case 0:
                        idSubParametro = 0;
                        if (arrIdSubParametro.includes($(this).text().replace('\n', '').trim())) {
                            idSubParametro = $(this).text().replace('\n', '').trim();
                        }
                        break;
                    case 2:
                        if (idSubParametro!=0) {
                            descripcion = $(this).text().replace('\n', '').trim();
                        }
                        break;
                    case 3:
                        if (idSubParametro != 0) {
                            objSubParametro.Id = idSubParametro;
                            objSubParametro.Descripcion = descripcion;
                            objSubParametro.Valor = $(this).text().replace('$', '').replace('\n', '').trim();
                            objSubParametro.IdParametro = $(tbIdParametro).val();
                            objSubParametro.Seleccionado = "true";
                            subparametros.push(objSubParametro);
                        }
                        break;
                }
               
            });
        });

        $("#isubparametros").val(JSON.stringify(subparametros));
        console.log(JSON.stringify(subparametros))
        jQuery.ajax({
            contentType: "application/json; charset=utf-8",
            data: $('#ActualizarParamC').serialize() + "&listado=" + $("#isubparametros").val(),
            url: url_carga_parametrosObj,
            type: "get",
            success: function (response) {
                console.log(response)
                $("#div_grilla_parametros").html('').html(response);
                $('#ModalMediano').modal('hide');
            },
            error: function (xhr) {
                //$this.loadingButton({ accion: "reset" });
            }
        });
      
    }
</script>
