@model Metalkit.Models.VMCliente
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    DateTime today = DateTime.Today;
    string hoy = today.ToString("dd/MM/yyyy");
    string fechaHoy = today.ToString("yyyy-MM-dd");

    ViewBag.Title = "Formulario de Cotización";
    ViewBag.Breadcrumb = "Formulario de cotización / Index";

}
@Html.Partial("_CreateCliente")

<div class="card card-primary" id="div_tipo_proyecto">
    <div class="card-body">
        <div class="col-md-4 form-group">
            <label for="itramite">Tipo Proyecto</label>
            @Html.DropDownList("itipoproyecto", null, "Seleccione", htmlAttributes: new { @class = "form-control  search-select", @onchange = "MostrarProyectoSeleccionado()" })
        </div>
    </div>
</div>

<div id="container">
</div>


@section scripts
{
    <script>
        @{string controller = "Formularios";}
        var url_cargarcomunas = '@Url.Action("CargarComunas", controller)';
        var url_datatable = '@Url.Action("ObtenerConsultas", controller)';
        var url_datatable2 = '@Url.Action("ObtenerConsultas2", controller)';
        var url_continuar = '@Url.Action("Continuar", controller)';
        var url_delete = '@Url.Action("Delete", controller)';
        var url_createCliente = '@Url.Action("CreateCliente", controller)';
        var url_createEstandar = '@Url.Action("CreateEstandar", controller)';
        var url_createPersonalizada = '@Url.Action("CreatePersonalizada", controller)';
        var url_mostrarproyecto = '@Url.Action("MostrarProyecto", controller)';
        var url_cargarproyecto = '@Url.Action("CargarProyecto", controller)';

    </script>

    <script src="~/Core/Js/Formularios.js"></script>

    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
            CargaInicial()

        });
    </script>

}
