@model Metalkit.Models.VMCliente
@using Metalkit.Models;
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    DateTime today = DateTime.Today;
    string hoy = today.ToString("dd/MM/yyyy");
    string fechaHoy = today.ToString("yyyy-MM-dd");
    List<Producto> lista_productos = new List<Producto>();
    lista_productos = ViewBag.lista_parametros;
    ViewBag.Title = "Formulario de Cotización";
    ViewBag.Breadcrumb = "Formulario de cotización / Index";


}
@Html.Action("CreateCliente")

<div id="container_Cotizacion">
</div>


@section scripts
{
    <script>
        @{string controller = "Formularios";}
        var url_cargarcomunas = '@Url.Action("CargarComunas", controller)';
        var url_grillaProductos = '@Url.Action("ObtenerConsultas", controller)';
        var url_grillaParametros = '@Url.Action("GrillaParametros", controller)';
        var url_continuar = '@Url.Action("Continuar", controller)';
        var url_delete = '@Url.Action("Delete", controller)';
        var url_createCliente = '@Url.Action("CreateCliente", controller)';
        var url_createEstandar = '@Url.Action("CreateEstandar", controller)';
        var url_createPersonalizada = '@Url.Action("CreatePersonalizada", controller)';
        var url_mostrarproyecto = '@Url.Action("MostrarProyecto", controller)';
        var url_carga_subparametros = '@Url.Action("GrillaSubParametros", controller)';
        var url_carga_productoSeleccionado= '@Url.Action("GrillaProductoSeleccionado", controller)';

        var url_carga_parametros = '@Url.Action("GrillaParametros", controller)';
        var url_carga_productos= '@Url.Action("GrillaProductos", controller)';

        var url_edit = '@Url.Action("Create", controller)';
        var url_grid = '@Url.Action("ObtenerConsultas", controller)';
        var listado = '@Url.Action("GetAreasForCompany", controller)';
    </script>

    <script src="~/Core/Js/Formularios.js"></script>

    <script>
        $(document).ready(function () {
            CargaInicial();
        });
    </script>


}
