<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Metalkit</title>
    @*<link href="~/Content/adminlte.min.css" rel="stylesheet" />*@

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="~/fonts/font-awesome/all.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
    <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link href="@Url.Content("~/Content/select2.min.css")" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/StylesAdquisiciones.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/DataTablescss")
    @Scripts.Render("~/bundles/jquery")

    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/Scripts/assets/plugins/select2/select2.css">*@
    <link href="~/Content/jquery-confirm.css" rel="stylesheet" />
    <link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/StylesAdquisiciones.css" type="text/css" media="all" />
    @RenderSection("estilos", required: false)



    <!--Personalizado siempre al final -->
    <link href="~/Content/personalizado.css" rel="stylesheet" />
</head>
<body>

    <div id="wrapper">
        <!--Inicio del menu -->
        @Html.Partial("_Navigation")
        <!--Fin del menu -->

        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">
            @Html.Partial("_TopNavbar")

            <div class="row wrapper border-bottom white-bg page-heading" style="padding-top: 15px;">
                <div class="col-sm-12">
                    @{
                        if (!string.IsNullOrEmpty(ViewBag.Icono))
                        {
                            <i class="fa @ViewBag.Icono iconoTitulo"></i>
                        }
                    }

                    <span style="font-size: 27px">@ViewBag.Title</span>
                    <span style="font-size: 10px"> / @ViewBag.Breadcrumb</span>
                </div>
            </div>
            <br />
            @RenderBody()
            <div id="ModalTime" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content modal-xs">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div id="editModalContent">

                            </div>
                        </div>

                        <div class="modal-footer"></div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
            <div id="ModalChico" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content modal-xs">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div id="editModalContent">

                            </div>
                        </div>

                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>
            <div id="ModalMediano" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content modal-md">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div id="editModalContent">

                            </div>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>
            <div id="ModalGrande" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog-xl">
                    <div class="modal-content modal-xl">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div id="editModalContent">

                            </div>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>


            <div id="ModalPdf" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog-xl">
                    <div class="modal-content modal-xl">
                        <div class="modal-header">
                            <button type="button" id="cerraModalPdf" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div id="editModalContent">

                            </div>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>
            <br />
            <br />

            @Html.Partial("_Footer")

            <script src="~/Scripts/mensajeria.js"></script>
            @{
                var htmlCode = MvcHtmlString.Create(Proyecto.Utilitarios.Mensajeria.MostrarMensaje().ToString());
                @htmlCode
            }
        </div>
        <dialog id="divDialog"></dialog>

        @Html.Partial("_RightSidebar")
    </div>

    @Scripts.Render("~/bundles/modal")
    @Scripts.Render("~/bundles/validaciones")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/tema")

    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/skinConfig")
    @Scripts.Render("~/bundles/comunes")


    <script src="~/Scripts/funcionesModal.js"></script>
    <script src="~/Scripts/jquery-confirm.js"></script>
    <script src="~/Scripts/plugins/toastr/toastr.min.js"></script>
    <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery-maskmoney/jquery.maskMoney.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery-maskmoney/funcionesMaskMoney.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.rut.chileno.js")"></script>
    <script src="@Url.Content("~/Scripts/select2.min.js")"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
